#main-container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -150px;
    width: 900px;
    height: 300px;
}

.bordered {
    border-radius:6px; 
    -webkit-border-radius:6px; 
    -moz-border-radius:5px; 
    -khtml-border-radius:10px;
}

.center {
    display:block;
    margin:10px auto;
    padding: 10px;
}

#question-body {
	height: 50%;
	background: #f0f0f0;
}

#question-answers {
    background: #EBEBFF;
    padding: 20px;
}

#form-holder {
	position: relative;
	width: 50%;
    margin: 0 auto;
    text-algin: left;
}

.bold {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 16pt;
}

.errormsg {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 16pt;
    color: #DB2E56;
}

#question-text {
	text-align: center;
    vertical-align: middle;
    line-height: 150px;
}